/src/RaythaZero.Web/user-uploads/*

# Build Folders
bin/
obj/

# User-Specific Files
*.suo
*.user
*.userosscache
*.sln.docstates

# Dependencies
packages/
*.nupkg
project.lock.json
project.assets.json
packages.lock.json

# Logs & Debugging
*.log
logs/
*.tlog
*.lastcodeanalysissucceeded
ServiceFabricBackup/

# Resharper / Rider
*.DotSettings.user
resharper.xml

# Entity Framework Migrations
Migrations/

# ASP.NET Core
appsettings.*.json
secrets.json

# Rider & VS Code
.idea/

# NuGet
.nuget/

# Rider-specific
*.sln.iml

# Docker
.dockerignore
docker-compose.override.yml

# Azure DevOps
.azuredevops/

# Other OS-specific files
.DS_Store
Thumbs.db
