@{
    Layout = "_Layout";
}
<div class="container">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

@section Header {
    @Html.Partial("_HeaderPartial")
}

@section Footer {
    @Html.Partial("_FooterPartial")
}
